.sidenav-container, .sidenav,.sidenav-content{
  height: 100%;
}

.sidenav-container,.sidenav-content{
  overflow: hidden;

}


.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
